@import url(sections/header.css);
@import url(sections/hero.css);
@import url(sections/menu.css);

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
