@import url(sections/header.css);
@import url(sections/hero.css);
@import url(sections/menu.css);
@import url(sections/contact.css);
@import url(sections/footer.css);
@import url(sections/responsive.css);
@import url(sections/whyus.css);

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.button2 {
  text-align: center;
  background-color: #eea539;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
}
.text__orange{
  color: #eea539;
}
.text__gray {
  color: gray;
}
