.contact {
  text-align: center;
  padding: 3em;
  /* padding: 0 auto;
margin: 0 auto ; */
}
.contact h3{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.contact__us{
  display: flex;
  justify-content: space-around;
  padding: 6em;
  gap: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}
.contact__us__content{
  background-color: aliceblue;
text-align: center;
width: 30%;
}
.contact__us__content p:nth-child(3){
  color: gray;
  padding-bottom: 1em;
}
.contact__us__content p:not(3){
  font-weight: bold;
}
.contact__us__content img{
  border-radius: 50%;
}