.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #ffffff;
    gap: 10em;
    padding: 4em;
    justify-content: space-around;
    box-shadow: 0 0 5px lightgray;
}
.quick-links{
    list-style-type: none;
    text-decoration-style: none;
}
.footer__form{
    display: flex;
    width: 100%;

}
.footer__form input{
    display: flex;
    padding: 2em;
    font-size: 1rem;
    width: 80%;
    
}
.footer__form__button button{
    width: 20%;
    padding: 2.5em 3.3em;
    color: #ffffff;
    /* color: #ffffff; */
}

