.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #ffffff;
    height: 50vh;
    /* gap: 10em; */
    padding: 4em;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px lightgray;
}
.quick-links{

    list-style-type: none;
    text-decoration-style: none;
}
.quick-links ul li a{
padding: 4em;
}
.footer__form{
    display: flex;
    width: 100%;
}
.footer__form__input {
    width:50%;
}
.footer__form__button{
   
    width: 25%;
}.footer__form__input input {
    padding: 1rem 2rem;
}
.footer__form__button button{
    background-color: red;
    padding: rem rem;
}