.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #ffffff;
    gap: 10em;
    padding: 4em;

}
.footer ul li a{
    list-style: none;
    text-decoration: none;
}
