#hero__left--searchbox{
  display: flex;

}
.hero__left--searchbox{
  border:outset;
  outline: gray;
    /* padding: 2em; */
}
.input{
  padding: 1.5em;
  border: none;
  outline: none;
}
.btn1{
  padding: 2em;
}
.fas fa-search{
  width: 2em;
}
.hero {
  display: flex;
  justify-content: space-between;
}
.hero__left--images {
  display: flex;
}
.hero__left--images--icons {
  display: flex;
  background-color: aliceblue;
  /* height: 50vh; */
  gap: 5em;
  text-align: center;
  justify-content: space-between;
  padding-top:5rem;
  row-gap:4rem;
  
}
.hero__left--images--icons img{
background-color: black;
}
.hero__right--icons{
  justify-content: space-around;
  margin-right: 15em;
}
.hero__right--icons--image{
  /* justify-content: center;
  align-content: center;
  align-self: auto; */
  text-align: center;
}