.menu {
  text-align: center;
  /* margin: 1em 1em;
  padding: 1em 1em; */
  border-bottom: solid black;
}
.menu h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3rem;
  font-weight: bolder;
}
.menu ul li {
  display: inline-flex;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2em;
  margin-right: 5em;
  padding: 1.5em;
  /* justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center; */
  /* justify-items: center; */
}
.menu ul :hover {
  /* background-color: #eea539; */
  color: #eea539;
  border-bottom: 2px solid #eea539;
}
.special__menu{
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
/* .special__menu__item__image{
  background-color:rebeccapurple ;
} */
.special__menu__item{
  width: 20%;
  text-align: center;
}
.special__menu__item__content{
  background-color: #f4f7fb;
  text-align: center;
  padding:8em 0 3em 0;
  margin-top: -8em;
}
.special__menu__item__content p:not(:nth-child(2)){
  font-size: 1.3rem;
  font-weight: bold;
}
.special__menu__item__content p:nth-child(2){
  margin: .5em 0;
  font-size: 1.3rem;
}
.special__menu__item__button{
  margin-top: -2em;
}
.special__menu__item__button button{
  background-color: black;
  color: white;
  border: none;
  padding: 1em 4em;
  font-size: 1.2rem;
  font-weight: bold;
  /*  */
}
.viewmore{
  display: flex;
  justify-content: center;
}
.viewmore button{
  padding: 1em 4rem;
  background-color: #eea539;
  color: #ffffff;
  font-size: 1.2rem;
}



/* .special__menu {
  display: flex;
  justify-content: space-between;


}
.special__menu--item{
  display: inline-block;
  justify-content: center;
  background-color: aliceblue;

  gap: 2rem;
} */


/* .add-btn {
  
} */
