@media (max-width: 768px) {
    #hero {
      /* grid-template-columns: 1fr; */
      display: flex;
    }
    #navigation {
      text-align: center;
    }
    .navigation__right .fa-bars {
      display: block; /* Show hamburger menu */
    }
  
    .nav__center ul, .navigation__right img {
      display: none; /* Hide elements for smaller screens */
    }
  .Special__Menu{
    display: block;
  }
    .why {
      grid-template-columns: 1fr;
      display: block;
    }
    #hero{
      /* display: block; */
    }
    .Contact__section{
      display: block;
    }
    .footer{
      display: block;
    }
    }
  